@page
@model IndexModel
@{
    <h2>@ViewData["Title"] Home page</h2>
    var dayId = 1;
}
@*<p>@Model.Message</p>*@
<!DOCTYPE html>
<html>
<head>
    @*<link rel="stylesheet" hreff="HomeStyle.css" /> *@
    <style>
        * {
            box-sizing: border-box;
        }

        ul {
            list-style-type: none;
        }

        body {
            font-family: Verdana, sans-serif;
        }

        .month {
            padding: 70px 25px;
            width: 100%;
            background: #1abc9c;
            text-align: center;
        }

            .month ul {
                margin: 0;
                padding: 0;
            }

                .month ul li {
                    color: white;
                    font-size: 20px;
                    text-transform: uppercase;
                    letter-spacing: 3px;
                }

            .month .prev {
                float: left;
                padding-top: 10px;
            }

            .month .next {
                float: right;
                padding-top: 10px;
            }

        .weekdays {
            margin: 0;
            padding: 10px 0;
            background-color: #ddd;
        }

            .weekdays li {
                display: inline-block;
                width: 13.6%;
                color: #666;
                text-align: center;
            }

        .days {
            padding: 10px 0;
            background: #eee;
            margin: 0;
        }

            .days li {
                list-style-type: none;
                display: inline-block;
                width: 13.6%;
                height: 150px;
                text-align: center;
                margin-bottom: 5px;
                font-size: 12px;
                color: #777;
            }


                .days li .daysButton {
                    width: 100%;
                    height: 150px;
                    background-color: #eee;
                    border: 2px solid #000;
                }
    </style>
</head>
<body>
    <script>
        demoP = document.getElementById("demo");
        var numbers = [4, 9, 16, 25];
        var monthNames = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];

        function myFunction(item, index) {
            demoP.innerHTML = demoP.innerHTML + "index[" + index + "]: " + item + "<br>";
        }
        function increment(integer) {
            return integer + 1;
        }
        function changeNextMonthId(monthId) {
            if (monthId == 12) {
                monthId = 1;
            }
            else {
                monthId = monthId + 1;
            }
            demoP.innerHTML = demoP.innerHTML + "This is printing out correctly";
            return monthNames[monthId];
        }
    </script>

    <h1>Individual Project Calendar</h1>
    <div class="month">
        <ul>
            <li class="prev">
                <button onclick="changeNextMonthId(@Model.MonthId)">
                    &#10094;
                </button>
            </li>
            <li class="next">
                <button onclick="Model.monthId.changeNextMonthId" )>&#10095;</button>
            </li>
            <li id="monthName">
                @Model.Months.GetMonthName(@Model.MonthId)<br>
                <span style="font-size:18px">2017</span>
            </li>
        </ul>
    </div>

    <ul class="weekdays">
        @*These are the columns of the weekday names*@
        <li>Mo</li>
        <li>Tu</li>
        <li>We</li>
        <li>Th</li>
        <li>Fr</li>
        <li>Sa</li>
        <li>Su</li>
    </ul>

    <ul class="days">
        @foreach (CalendarDotNet.Model.Days dayz in Model.daysList)
        {
           
            <li><form method="post"><button type="submit" button class="daysButton" name="dayId" value="@dayId" asp-page="./EditEvent">@dayId <br>@dayz.GetTitle() <br>@dayz.GetDescription()</button></form></li>
            dayId = dayId + 1;
        }
    </ul>

</body>
</html>
